@model Transactions
<h1>Welcome , @ViewBag.User.FirstName  @ViewBag.User.LastName</h1>
<p>Your current Balance is  @ViewBag.Balance</p>
<form action="/makeaction" method="POST">
    <span asp-validation-for="Amount"></span>
    <input type="hidden" asp-for='UserId' value="@ViewBag.User.UserId">
    <p>Deposit /Withdraw <input type="text" asp-for="Amount"></p>
    <input type="submit" value="Submit">
</form>

@foreach(var x in ViewBag.Transactions)
{
    <p>@String.Format("{0:0.00}", x.Amount) $ in @x.CreatedAt;</p>
}
<a href="/">LogOut</a>